@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
.text
    {
        font-size: 600;
        font-style: italic;
        color: rgb(24, 9, 38);
        text-align: center;
    }
.title
    {
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        font-weight: 300;
        font-style: italic;
        color: rgb(64, 15, 113);
        text-decoration: solid;
        text-align:center;
    }